body{
    background: black;
}
#caja2{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    height: 80vh;
    width: 80vh;
    gap: 0em;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-rows:  10vh 10vh 10vh 10vh 10vh 10vh 10vh;
    grid-template-columns: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
}
