body{
    background: rgb(82, 78, 78);
}
#tablero1{
    width: 400px;
    height: 400px;
    margin-left: 450px;
    margin-top: 120px;
}
#botones{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}